html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  font-style: normal;
  background-color: #fff;
  color: $main-txt-color;
}

h1,
h2,
p {
  margin-top: 0;
}
